.button {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family: inherit;
  min-width: 7rem;
}

.button:focus {
  background-color: hsl(172, 67%, 45%);
}